@media only screen and (min-width: 768px) and (max-width: 1024px){
    header{
        padding: 2vh 0 0 4vw;
    }

    .titulo{
        width: 30vw;
        font-size: 150%;
        margin-right: 3.5vw;
        padding: 0.5rem;
        color:white;
        background: #0a3871;
        border-radius: 10px;
    }
    
    .em{
        text-decoration: underline;
    }

    .container-button{
        width: 70vw;
    }

    .btn-inicio, .btn-agregar{
        width: 30vw;
    }

    .popup{
        width: 75vw;
        height: 55vh;
    }
    
    .palabra-nueva{
        width: 90%;
    }

    .mensaje-error{
        font-size: 90%;
    }
    
    #img-error{
        width: 25vw;
        height: 24vh;
    }
    
    .contenedor-aviso{
        width: 20vw;
        height: 2vh;
        margin: 3vh 0 1.5vh 3.5vw;
        padding: 0;
    }
    
    .btn-guardar, .btn-cancelar{
        width: 30vw;
        height: 5vh;
    }

    #canvas{
        margin-top:6vh;
        width: 98vw;
        height: 50vh;
    }

    #contenedor-botones{
        margin-top: 3.5vh;
    }

    #titulo-ganar{
        font-size:220%;
        text-decoration: underline;
        font-weight: bold;
        color: #09f835;
    }
    
    #titulo-game-over{
        font-size:250%;
    }
    
    #img-final, #img-victoria{
        width:27vw;
        height:25vh;
        margin: 6vh auto;
    }

    #img-final{
        margin: 4vh auto;
    }
    
    #p{
        margin-bottom: 0vh
    }

    #contenedor-ganar{
        display: flex;
        flex-direction: columns;
        align-content: center;
        justify-content: center;
    }

    .btn-volver-jugar, .btn-salir{
        width: 26vw;
        margin-top: 4vh;
    }

    .btn-volver-jugar{
       margin-right: 1vw;
    }

    .btn-jugar, .btn-salir{
        width: 26vw;
    }
    
   
    footer{
        text-align: center;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px){
    header{
        padding: 2vh 0 0 3vw;
    }

    .titulo{
        font-size: 130%;
        margin-right: 3vw;
        padding: 0.5rem;
        color:white;
        background: #0a3871;
        border-radius: 10px;
    }

    .btn-inicio{
        width: 85vw;
        height: 10vh;
        margin-bottom: 3vh;
    }

    .btn-agregar{
        width: 70vw;
        height: 6vh;
    }

    .popup{
        width: 90vw;
        height: 48vh;
    }
    
    .palabra-nueva{
        width: 90%;
        font-size: 120%;
        margin: 4vh 0 2vh 0;
    }

    .mensaje-error{
        font-size: 90%;
    }
    
    #img-error{
        width: 25vw;
        height: 15vh;
    }
    
    .contenedor-aviso{
        width: 30vw;
        height: 2vh;
        margin: 2vh 0 1.5vh 2vw;
    }
    
    .btn-guardar, .btn-cancelar{
        width: 40vw;
        height: 4vh;
    }

    .btn-guardar{
        margin-bottom: 4%;
    }

    #canvas{
        margin-top:14vh;
        width: 98vw;
        height: 30vh;
    }
    
    #contenedor-botones{
        width: 97vw;
        height: 15vh;
        margin: 19vh auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #btn-nuevo, #btn-desistir{
        width: 96vw;
        height: 7vh;
        margin: 0.5vh auto
    }

    #titulo-ganar{
        font-size:180%
    }
    
    #titulo-game-over{
        font-size:170%;
    }
    
    #img-final, #img-victoria{
        width:30vw;
        height:20vh;
        margin: 7vh auto;
    }

    #img-final{
        margin: 4vh auto;
    }
    
    #p{
        margin-bottom: 2vh
    }

    .btn-jugar, .btn-salir{
        width: 29vw;  
        margin-top: 5vh;
    }

    .btn-jugar{
        font-size: 12px;
        
    }

    .btn-volver-jugar, .btn-salir{
        width: 23vw;
    }

    .btn-volver-jugar{
       margin-right: 1vw;
       font-size: 10px;
    }
    
    footer{
        display: block;
        margin-top: 4%;
        text-align: center;
        font-size: 75%;
    }

}