*{
    margin: 0;
    padding: 0;
}

body {
    background: #E5E5E5;
}

.invisible{
    display: none;
}

.texto{
    font-family: 'Inter', sans-serif;
}

.btn-azul{
    border-radius: 24px;
    background: #0A3871;
    color: #FFFFFF;
    border: none;
}

.btn-secundario{
    border-radius: 24px;
    background: #E5E5E5;
    color: #0A3871;
    border: 1px solid #0A3871;
}

header{
    width: 98vw;
    height: 2%;
    padding: 1.5% 0 0 2%;
}

#logo-alura{
    width: 31px;
    height: 48px;
}

main{
    display: block;
}

#container{
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 84.5vh;
}

.visible{
    display: flex;
}

.container-button{
    width: 17vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-inicio, .btn-agregar{
    cursor: pointer;
}

.btn-inicio{
    width: 217px;
    height:105px;
    margin-bottom: 38px;
    font-size: 110%;
}

.btn-inicio:hover{
    background: #0a387174;
    transition: 0.3s ease-in-out;
    transform: scale(1.2);
    box-shadow: 5px 5px 4px 3px rgb(0,0,0);
}

.btn-inicio:active{
    background: #710a0a74;
    transition: 0.3s ease-in-out;
    transform: scale(0.9);
    box-shadow: 5px 5px 4px 3px #3f0000d3;
}

.btn-agregar{
    width: 210px;
    height:67px;
    font-size: 110%;
}
.btn-agregar:hover{
    background: #0a387124;
    transition: 0.3s ease-in-out;
    transform: scale(1.2);
    box-shadow: 5px 5px 4px 3px rgb(0,0,0);
}
.btn-agregar:active{
    background: #710a0a74;
    transition: 0.3s ease-in-out;
    transform: scale(0.9);
    box-shadow: 5px 5px 4px 3px #3f0000d3;
    color: white;
}

.fondo-oscuro, .fondo-game-over, .fondo-cartel-victoria{
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.523);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.fondo-oscuro.active, .fondo-game-over.active, .fondo-cartel-victoria.active{
    visibility: visible;
}

.popup, .cartel-game-over, .cartel-victoria{
    width: 60vw;
    height: 60vh;
    background: #E5E5E5;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-align: center;
    transition: 0.8s ease all;
    transform: scale(0);
    opacity: 0;
}

.popup.active, .cartel-game-over.active, .cartel-victoria.active{
    opacity: 1;
    transform: scale(1);
}

.btn-cerrar-popup{
    display: block;
    text-align: right;
    margin: 0.5rem;
}

.palabra-nueva{
    background: #E5E5E5;;
    font-size:200%;
    text-align: center;
    margin: 1rem;
    border: none;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
}

.palabra-nueva::placeholder {
    color: #0A3871;
    font-style: italic;
}

.mensaje-error{
    color: red;
    width: auto;
    height: 1vh;
    list-style: none;
}

#img-error{
    width: 15vw;
    height: 25vh;
    margin: 2vh auto;
    opacity:0;
    transform: scale(0.3);
}

#img-error.active{
    opacity: 1;
    transform: scale(1);
}

.contenedor-aviso{
    width: 10vw;
    height: 2vh;
    margin: 3vh 0 4vh 14vw;
    padding: 0;
}

.atencion{
    width:0.8rem;
    height:0.8rem;
}

.aviso{
    font-size:60%;
    margin-left: 0.3rem;
}

.btn-guardar, .btn-cancelar, .btn-jugar, .btn-salir{
    width: 14vw;
    height: 6vh;
    border-radius: 10px;
    cursor: pointer;
}

.btn-guardar, .btn-jugar{
    background-image: linear-gradient(to right, #0A3871 50%, #710a0a 50%);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: left;
}

.btn-guardar:hover, .btn-jugar:hover{
    transition: 0.5s ease;
    background-position: right;
}

.btn-guardar:active, .btn-jugar:active{
    background: yellow;
    color: black;
    border: 1px solid #000000
}

.btn-cancelar, .btn-salir{
    background-image: linear-gradient(to right, #E5E5E5 50%, #000000 50%);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: left;
}

.btn-cancelar:hover, .btn-salir:hover{
    transition: 0.5s ease;
    background-position: right;
    color: white;
}

.btn-cancelar:active, .btn-salir:active{
    background: red;
}

#container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 84.5vh;
}

 #cartel-victoria, #cartel-game-over {
    border: 1px solid #0A3871;
}

#canvas{
    border: 1px solid #000000;
}

#titulo-ganar{
    font-size:350%;
    text-decoration: underline;
    font-weight: bold;
    color: #09f835;
}

#titulo-game-over{
    font-size:300%;
    font-style: italic;
    text-decoration: underline;
    color: #f90000;
}

#img-final, #img-victoria{
    width:20vw;
    height:30vh;
    margin: 2vh auto;
    border: 4px dashed #000000;
}

#p{
    color: red;
    font-style: italic;
    margin-bottom: 3vh
}

#contenedor-botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 688px;
    height: 67px;
    margin-top: 1%;
    margin-bottom:5%;
}

#btn-nuevo, #btn-desistir{
    width: 332px;
    height: 60px;
    cursor: pointer;
}

#btn-nuevo{
    margin-right: 1vw;
}

#btn-nuevo:hover{
    transform: scale(0.8);
    transition: 0.3s ease-in;
    background: #0a387174;
    box-shadow: 5px 5px 4px 3px rgb(0,0,0);
}

#btn-nuevo:active{
    background: #710a0a74;
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
    box-shadow: 5px 5px 4px 3px #3f0000d3;
}

#btn-desistir:hover{
    background: #0a387124;
    transition: 0.3s ease-in-out;
    transform: scale(0.8);
    box-shadow: 5px 5px 4px 3px rgb(0,0,0);
}

#btn-desistir:active{
    background: #710a0a74;
    transition: 0.3s ease-in-out;
    transform: scale(1);
    box-shadow: 5px 5px 4px 3px #3f0000d3;
    color: white;
}

footer{
    display:flex;
    width: 100vw;
    height: 4vh;
    justify-content: center;
    align-items:center;
    font-size: 80%;
    font-weight: bold;
    font-style: italic;
}

.link{
    margin: auto 0.3vw;
}

.img-link{
    width: 10px;
    height: 11.5px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
    header{
        padding: 5% 0 0 4%;
    }

    .btn-inicio{
        width: 70vw;
    }

    .popup{
        width: 75vw;
        height: 55vh;
    }
    
    .palabra-nueva{
        width: 90%;
    }
    
    .contenedor-aviso{
        width: 20vw;
        height: 2vh;
        margin: 26vh 0 1.5vh 3.5vw;
        padding: 0;
    }
    
    .btn-guardar, .btn-cancelar{
        width: 30vw;
        height: 4vh;
    }

    #canvas{
        margin-top:6vh;
        width: 99vw;
        height: 60vh;
    }

    #contenedor-botones{
        margin-top: 3.5vh;
    }

    #btn-nuevo, #btn-desistir{
        height: 47px;
        margin-top: 2vh;
    }
    
    #btn-nuevo{
        margin-right: 1vw;
    }
    
    footer{
        text-align: center;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px){
    header{
        padding: 2vh 0 0 3vw;
    }

    .btn-inicio{
        width: 85vw;
        height: 10vh;
        margin-bottom: 3vh;
    }

    .btn-agregar{
        width: 70vw;
        height: 6vh;
    }

    .popup{
        width: 90vw;
        height: 63vh;
    }
    
    .palabra-nueva{
        width: 90%;
        font-size: 102%;
        margin: 10% 0 11% 0;
    }
    
    .contenedor-aviso{
        width: 30vw;
        height: 2vh;
        margin: 24vh 0 1.5vh 2vw;
    }
    
    .btn-guardar, .btn-cancelar{
        width: 80vw;
        height: 4vh;
    }

    .btn-guardar{
        margin-bottom: 4%;
    }

    #canvas{
        margin-top:6vh;
        width: 98vw;
        height: 50vh;
    }
    
    #contenedor-botones{
        width: 97vw;
        height: 15vh;
        margin: 12vh auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #btn-nuevo, #btn-desistir{
        width: 97%;
        height: 7vh;
        margin: 0.5vh auto
    }
    
    footer{
        margin-top: 4%;
        text-align: center;
        font-size: 75%;
    }

}