*{
    margin: 0;
    padding: 0;
}

body {
    background: #e5e5e5;
}

.invisible{
    display: none;
}

.texto{
    font-family: 'Inter', sans-serif;
}

.btn-azul{
    border-radius: 24px;
    background: #0a3871;
    color: #FFFFFF;
    border: none;
}

.btn-secundario{
    border-radius: 24px;
    background: #E5E5E5;
    color: #0A3871;
    border: 1px solid #0A3871;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98vw;
    height: 7vh;
    padding: 1.5% 0 0 2%;
}

#logo-alura, #logo2-alura{
    width: 31px;
    height: 48px;
}

#btn-nocturno{
    background: #0a3871;
    color: white;
    padding: 0.5%;
    border-radius: 10px;
    text-decoration: none;
}

.fa-solid{
    margin-left: 0.5vw;
}

#btn-nocturno:hover{
    transition: 0.3s ease-in-out;
    transform: scale(0.9);
    box-shadow: 5px 5px 4px 3px #1454a1;
}

#btn-diurno{
    background: #a9b8c5;
    color: #0a3871;
    padding: 0.5%;
    border-radius: 10px;
    text-decoration: none;
}

#btn-diurno:hover{
    transition: 0.3s ease-in-out;
    transform: scale(0.9);
    box-shadow: 5px 5px 4px 3px #83a4c1
}

#btn-diurno:active, #btn-nocturno:active{
    transform: scale(1.1);
}

#sol{
    color: #0a3871;
}

.contenedor-titulo{
    display: flex;
}

.titulo{
    margin-right: 1vw;
    padding: 0.5rem;;
    color:white;
    background: #0a3871;
    border-radius: 10px;
}

.em{
    text-decoration: underline;
}

main{
    display: block;
}

#container{
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 84.5vh;
}

.visible{
    display: flex;
}

.container-button{
    width: 17vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-inicio, .btn-agregar{
    cursor: pointer;
}

.btn-inicio{
    width: 217px;
    height:105px;
    margin-bottom: 38px;
    font-size: 110%;
}

.btn-inicio:hover{
    background: #0a387174;
    transition: 0.3s ease-in-out;
    transform: scale(1.2);
    box-shadow: 5px 5px 4px 3px rgb(0,0,0);
}

.btn-inicio:active{
    background: #710a0a74;
    transition: 0.3s ease-in-out;
    transform: scale(0.9);
    box-shadow: 5px 5px 4px 3px #3f0000d3;
}

.btn-agregar{
    width: 210px;
    height:67px;
    font-size: 110%;
}
.btn-agregar:hover{
    background: #0a387124;
    transition: 0.3s ease-in-out;
    transform: scale(1.2);
    box-shadow: 5px 5px 4px 3px rgb(0,0,0);
}
.btn-agregar:active{
    background: #710a0a74;
    transition: 0.3s ease-in-out;
    transform: scale(0.9);
    box-shadow: 5px 5px 4px 3px #3f0000d3;
    color: white;
}

.fondo-oscuro, .fondo-game-over, .fondo-cartel-victoria{
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.523);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.fondo-oscuro.active, .fondo-game-over.active, .fondo-cartel-victoria.active{
    visibility: visible;
}

.popup, .cartel-game-over, .cartel-victoria{
    width: 60vw;
    height: 66vh;
    background: #E5E5E5;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-align: center;
    transition: 0.8s ease all;
    transform: scale(0);
    opacity: 0;
}

.popup.active, .cartel-game-over.active, .cartel-victoria.active{
    opacity: 1;
    transform: scale(1);
}

.btn-cerrar-popup{
    display: block;
    text-align: right;
    margin: 0.5rem;
}

.palabra-nueva{
    background: #E5E5E5;;
    font-size:200%;
    text-align: center;
    margin: 1rem;
    border: none;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
}

.palabra-nueva::placeholder {
    color: #0A3871;
    font-style: italic;
}

.mensaje-error{
    color: red;
    width: auto;
    height: 1vh;
    list-style: none;
}

#img-error{
    width: 15vw;
    height: 25vh;
    margin: 2vh auto;
    opacity:0;
    transform: scale(0.3);
}

#img-error.active{
    opacity: 1;
    transform: scale(1);
}

.contenedor-aviso{
    width: 10vw;
    height: 2vh;
    margin: 3vh 0 4vh 14vw;
    padding: 0;
}

.atencion{
    width:0.8rem;
    height:0.8rem;
}

.aviso{
    font-size:60%;
    margin-left: 0.3rem;
}

.btn-guardar, .btn-cancelar, .btn-jugar, .btn-salir{
    width: 14vw;
    height: 6vh;
    border-radius: 10px;
    cursor: pointer;
}

.btn-guardar, .btn-jugar{
    background-image: linear-gradient(to right, #0A3871 50%, #710a0a 50%);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: left;
}

.btn-guardar:hover, .btn-jugar:hover{
    transition: 0.5s ease;
    background-position: right;
}

.btn-guardar:active, .btn-jugar:active{
    background: yellow;
    color: black;
    border: 1px solid #000000
}

.btn-cancelar, .btn-salir{
    background-image: linear-gradient(to right, #E5E5E5 50%, #000000 50%);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: left;
}

.btn-cancelar:hover, .btn-salir:hover{
    transition: 0.5s ease;
    background-position: right;
    color: white;
}

.btn-cancelar:active, .btn-salir:active{
    background: red;
}

#container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 84.5vh;
}

#canvas{
    width: 80vw;
    height: 70vh;
}

 #cartel-victoria, #cartel-game-over {
    border: 1px solid #0a3871;
}


#titulo-ganar{
    font-size:350%;
    text-decoration: underline;
    font-weight: bold;
    color: #09f835;
}

#titulo-game-over{
    font-size:300%;
    font-style: italic;
    text-decoration: underline;
    color: #f90000;
}

#img-final, #img-victoria{
    width:20vw;
    height:30vh;
    margin: 2vh auto;
}

#p{
    color: red;
    font-style: italic;
    margin-bottom: 3vh
}

#contenedor-botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 688px;
    height: 67px;
    margin-top: 1%;
    margin-bottom:5%;
}

#btn-nuevo, #btn-desistir{
    width: 332px;
    height: 60px;
    cursor: pointer;
}

#btn-nuevo{
    margin-right: 1vw;
}

#btn-nuevo:hover{
    transform: scale(0.8);
    transition: 0.3s ease-in;
    background: #0a387174;
    box-shadow: 5px 5px 4px 3px rgb(0,0,0);
}

#btn-nuevo:active{
    background: #710a0a74;
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
    box-shadow: 5px 5px 4px 3px #3f0000d3;
}

#btn-desistir:hover{
    background: #0a387124;
    transition: 0.3s ease-in-out;
    transform: scale(0.8);
    box-shadow: 5px 5px 4px 3px rgb(0,0,0);
}

#btn-desistir:active{
    background: #710a0a74;
    transition: 0.3s ease-in-out;
    transform: scale(1);
    box-shadow: 5px 5px 4px 3px #3f0000d3;
    color: white;
}

footer{
    display:flex;
    width: 100vw;
    height: 2vh;
    justify-content: center;
    align-items:center;
    font-size: 80%;
    font-weight: bold;
    font-style: italic;
}

.link{
    margin: auto 0.3vw;
}

.img-link{
    width: 10px;
    height: 11.5px;
}